body{
  background-color: rgb(166, 232, 240);
  margin: 0;
  font-family: Roboto,Arial,sans-serif;
}
.form{
  max-width: 90vw;
  width: 640px;
  margin: auto;
}
.name-form{
  margin-top: 12px;
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 24px;
  padding-top: 22px;
  position: relative;
}
.top-line{
  background-color: rgb(0, 188, 212);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 10px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
  padding: 0;
}
.name-form h1{
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  color: #202124;
  line-height: 135%;
  max-width: 100%;
  min-width: 0%;
}
.name-form h2{
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 24px;
  color: #202124;
  font-weight: 400;
  width: 100%;
  word-break: break-word;
}
.name-form h3{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 20px;
  margin-top: 12px;
  color: #d93025;
}
.name-form span{
  color: #d93025;
}
input{
  padding: 2px;
  width: 300px;
  border: 1px solid #dadce0;
  border-left: none;
  border-top: none;
  border-right: none;
}
input[type="search"] { 
  font-family: Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 20px;
  color: #70757a;
  font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  overflow: hidden;
  pointer-events: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
input[type="search"]::-webkit-input-placeholder {
  color: #70757a;
} 
input[type="search"]::-moz-placeholder {
  color: #70757a;
}

.block{
  display: flex;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  min-width: 0%;
  position: relative;
}
.name-form-input{
  width: 50%;
}
.chek-buttons{
  display: flex;
  width: 100%;
  min-height: 24px;
  padding: .5em .5em .5em 0;
}
label{
  width: 100%;
}
.square{
  display: inline-block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  height: 20px;
  position: relative;
  vertical-align: middle;
  width: 20px;
  z-index: 0;
  border: 2px solid grey;
  border-radius: 100px;
}
.label{
  margin-bottom: 20px;
}
.label span{
  font-family: Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 20px;
  color: #202124;
  min-width: 1px;
  margin-left: 10px;
}
.next{
  color: rgb(0, 144, 176);
  width: 100px;
  height: 40px;
  font-weight: 500;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 9px 9px 19px -8px rgba(0,0,0,0.39); 
  box-shadow: 9px 9px 19px -8px rgba(0,0,0,0.39);
}
.politic{
  font-family: Roboto,Arial,sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .3px;
  line-height: 16px;
  color: #70757a;
  margin-top: 8px;
}
.footer{
  font: 400 12px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  margin: 16px 0;
  padding: 0 16px;
  text-align: center;
  color: #70757a;
}
a{
  color: #70757a;
}
.google{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  color: #70757a;
  text-decoration: none;
  font-size: 25px;
}